*{
  margin: 0;
  padding: 0;
}
.background_1{
  background: black url(/web-gridiron/img/background.png);
  background-size: cover;
  height: 100vh;

}
.background{
  background: black url(/web-gridiron/img/background.png);
  background-size: cover;
}

.box-main{
  display: flex;
  justify-content: center;
  align-content: center;
  color: white;
  font-family: SansSerif, serif;
}

.first-section{

}
.first-half-text{
  margin-top: 12%;
  margin-right: 10%;
  margin-left: 10%;
  justify-content: center;
  text-align: center;
  color: white;
  font-family: SansSerif, sans-serif;
  font-size: 30px;
}

.first-half2-text{
  margin-right: 10%;
  margin-left: 10%;
  justify-content: center;
  text-align: center;
  color: white;
  font-family: SansSerif, sans-serif;
  font-size: 16px;
}


